* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0d1117;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  background: linear-gradient(145deg, #3d444d, #2b3138);
  color: #ffffff;
  width: 90%;
  max-width: 480px;
  border-radius: 20px;
  padding: 35px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}


.search {
  display: flex;
  gap: 12px;
}

.search input {
  flex: 1;
  height: 45px;
  padding: 0 18px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #ebfffc;
  color: #333;
}

.search button {
  height: 45px;
  padding: 0 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: #2dba4e;
  color: #fff;
  font-weight: 600;
  transition: background 0.2s ease, transform 0.1s ease;
}

.search button:hover {
  background: #28a745;
}

.search button:active {
  transform: scale(0.96);
}


.info {
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.info.show {
  display: flex;
  opacity: 1;
}

.info img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #2dba4e;
}

#userName {
  font-size: 22px;
  font-weight: bold;
  max-width: 100%;
  word-break: break-all;

}

.bio {
  font-size: 14px;
  color: #c9d1d9;
  line-height: 1.5;
  max-width: 90%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
}


.stats {
  margin-top: 20px;
  width: 100%;
  
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.stats.show {
  display: grid;
  opacity: 1;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.stats p {
  background: #161b22;
  padding: 12px 8px;
  border-radius: 12px;
  font-size: 14px;
  color: #c9d1d9;
}

.stats span {
  display: block;
  margin-top: 4px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}





.error{
  font-size: 14px;
  margin-top:15px ;
  display: none;
}

.title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
  color: #c9d1d9;
  text-align: center;
  position: relative;
}


.title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #2dba4e;
  margin: 8px auto 0;
  border-radius: 2px;
}
