
.thumbnail{
 width: 100%;
  ;
}





.videotitle{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}



.creator-profile{
  
  width: 50px;
  vertical-align: top;
  
}

.video-info{
  display: inline-block;
  width: 200px;
  
  


}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr ;
}

.profile-pic{
  width: 36px;
  border-radius: 50px;
  
}

.thumbnail-preview{

  margin-bottom: 12px;
  position: relative;

}




.creator ,.stat{
  font-size: 12px;
  color: rgb(96,96,96);

}

.creator{
  margin-bottom: 6px;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media(max-width: 600x){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

.video-time{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
}