
        .uber {
          background-color: black;
          color: white;
          border: none;
          height: 30px ;
          width: 105px;
          cursor: pointer;
          

        }

        .amazon {
          background-color: rgb(256, 216, 20) ;
          color: black;
          border: none;
          border-radius: 10px;
          height : 26px;
          width: 120px;
          cursor: pointer;

        }

        .github{
          background-color: rgb(46,164,79);
          color: white;
          height: 30px;;
          width: 75px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }

        .bootstrap{
          background-color: rgb(121,82,179);
          color: white;
          height: 26px;;
          width: 100px;
          border: none;
          border-radius: 3px;
          cursor: pointer;
        }
        .linkedin {
          background-color: rgb(10, 102, 194) ;
          color:white;
          border: none;
          border-radius: 15px;
          height : 30px;
          width: 200px;
          cursor: pointer;

        }

  