 
    .one{
      background-color: rgb(132, 17, 37);
          color: white;
          border: none;
          padding-top: 5px;
          padding-bottom: 5px;
          cursor: pointer;
          transition: padding 0.15s,
          margin 0.15s;
    }

    .one:hover{
      margin: 0px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .two{
      background-color: rgb(132, 17, 37);
          color: white;
          border: none;
          padding-top: 5px;
          padding-bottom: 5px;
          cursor: pointer;
          transition: padding 0.15s,
          margin 0.15s;
    }

    .two:hover{
      margin: 0px;
      padding-left: 25px;
      padding-right: 25px;
    }


    .three{
      background-color: rgb(132, 17, 37);
          color: white;
          border: none;
          padding-top: 5px;
          padding-bottom: 5px;
          cursor: pointer;
          transition: padding 0.15s,
          margin 0.15s;
    }
    .three:hover{
      margin: 0px;
      padding-left: 25px;
      padding-right: 25px;
    }
  