p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}
input{
  display: block;
  background-color: rgb(247, 243, 243);
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 100px;
}
::placeholder{
  color: black;
}

.qw{
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: black;
  color: white;
  transition: 0.15s;


}
.er{
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: black;
  color: white;
  transition: 0.15s;

  
}

.qw:hover {

         opacity: 0.8;
         background-color:rgb(246, 240, 240);
         color: black;
         
        }
.er:hover{
          

        opacity: 0.8;
        background-color:rgb(246, 240, 240);
        color: black;
         
          
        }