img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

p{
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 4px;
  font-family: arial;
}

.mutuals{
  color: rgb(100, 100, 100);
  margin-left: 8px;
  margin-bottom: 12px;
}

button{
  border: none;
  border-radius: 5px;
  background-color: rgb(24,119,242);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-left: 8px;
}

div {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}







