.banner{
  display: flex;
  position: relative;
  display: block;
  
}

.bannerimg{
  
  width: 100%;
  height: 400px; 
  object-fit: cover;
  object-position: center 50%;
  transition: filter 0.15s ease;
}


.caption{
  color: white;
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 30%;
  transform: translateX(-50%);
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.55s ease-in-out;
  padding: 5px 10px;
  font-size: 50px;
  font-size: arial;
  text-decoration: underline;
  text-decoration-color:rgb(0,255,255) ;

}

.caption::after {
  display: block;
  height: 2px;
  width: 0%;
  background: white;
  margin-top: 3px;
  transition: width 0.15s ease-in-out;
}


.banner:hover img {
  filter: brightness(70%);
}

.banner:hover .caption {
  opacity: 1;
}

.banner:hover .caption::after {
  width: 100%;
}

.eight{
  
  text-decoration: line-through;
}
