.header{
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: black;
  margin: 0;
  justify-content: space-between;
  align-items: center;

}


.f1logo{
  
  height: 60px;

}

.lh44{
  margin-left: 20px;
  height: 90px;
}

.merc{
  height: 60px;
  margin-right: 20px;
}

