img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

p{
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 4px;
  font-family: arial;
}

.mutuals{
  color: rgb(100, 100, 100);
  margin-left: 8px;
  margin-bottom: 12px;
  display:inline-block;
  font-size: 15px;
  vertical-align: top;
  
}

button{
  border: none;
  border-radius: 5px;
  background-color: rgb(24,119,242);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-left: 8px;
  transition: 0.15s;
  cursor: pointer;
}

.box{
  
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  
  
}


.mutu{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-top: 8px;
  vertical-align: middle;
}

button:hover{
  border: solid;
  color: rgb(24,119,242);
  background-color: white;
  border-color: rgb(24,119,242);

}

.cat-grid{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;

}