p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


.flex{
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(120,82,178) ;
  color: white;

}


.search{
  width: 700px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-color: white;
  color:rgb(120,82,178) ;
  padding-left: 20px;
}


.download
{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(120, 82,178);
  border-style: solid;
  border-color: white;
  color: white;
  border-radius: 2px;
  font-size: 16px;
  border-width: 1px;
  transition: 0.15s;
}

.download:hover{
  background-color: white;
  color:rgb(120, 82,178) ;
  border-color:rgb(120, 82,178) ;
  
}
/*catogram
*/

p{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.cat{
 display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pic{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 25px;
}

.info{
  width: 200px;
}

.name {
  font-weight: bold;
  margin-bottom: 3px;
}

.tag{
  color: rgb(150, 150, 150);
  margin-bottom: 5px;
}

.category {
  color: rgb(150, 150, 150);
  font-size: 14px;
}

.follow{
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  cursor: pointer;
}